.jumbotron-fluid{
    background-image: url("../images/train_bkg1.jpeg");
    background-size: cover;
}

body {
    background-color: silver;
}

.display-4 {
    font-weight: bold;
    font-size: 600%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    color: rgb(15, 81, 156);
    text-shadow: 2px 2px whitesmoke;
}

.lead {
    font-size: 200%;
    font-family: cursive;
    color: whitesmoke;
}

.display-4, 
.lead {
    text-align: center;
}

.card-header {
    background-color: rgb(15, 81, 156);
    color: whitesmoke;
    float: left;
    border-bottom: none;
    font-weight: 600;
    font-size: large;
}

#current-time {
    text-align: right;
    float: right;
}

.input-time {
    width: 10%;
    float: left;
}

.card {
    margin: 10px;
    min-width: 540px;
}

th {
    
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid gray;
    border-top: 1px solid lightgray;
}

tbody {
    width: 100%;
}

td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.col-2 {
    padding: 7px; 
    padding-left: 50px;
}
.row {
    margin-left: 50px;
}

#current-schedule-header {
    background-color: white;
    color: black;
}

.input-time {
    margin: 5px;
}